* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    font-family: 'Inter', sans-serif;
    color: white;
  }
  
  .background {
    background: url('assets/images/bg-image 3.jpg') no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .background::before {
    content: "";
    
    opacity: 0.3;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 1;
  }
  
  .top-right, .top-center, .top-right{
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row
  }
  .top-center {
    position: fixed;
    top: 20px;
   display: none;
    font-size: 12px;
    z-index: 1;
    font-weight: 400;
  }
  .top-left {
    position: fixed;
    top: 20px;
    left: 30px;
    font-size: 13px;
    z-index: 1;
    font-weight: 500;
  }
  .top-right {
    position: fixed;
    top: 20px;
    right: 30px;
    font-size: 13px;
    z-index: 1;
    font-weight: 500;
    cursor:pointer;
  }
  
/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background: #000;
  color: white;
  padding: 20px;
  
  transition: right 0.3s ease-in-out;
  z-index: 1002;
}

.sidebar.active {
  right: 0;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-header .close-btn {
  font-size: 24px;
  cursor: pointer;
}

/* Sidebar list styles */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.2s;
}

.sidebar ul li a:hover {
  color: #00ffd5;
}

/* Overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: 1000;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

  .center-logo h1 {
    font-size: 40vw;
    z-index: 1;
    font-weight: 900;
    text-transform: lowercase;
    color: #f8f6f4;
  }
  
  .bottom-nav {
    position: absolute;
    bottom: 30px;
    z-index: 1;
  }
  
  .bottom-nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    border-radius: 30px;
  }
  
  .bottom-nav a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    font-size: 11px;
  }

  
  